/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.container-fluid {
    padding: 20px;
}

/* Resume Builder styles */
.builder {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.resume {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.resume h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.resume h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.resume p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.footer {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
